<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/drop_db?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">droti</property>
    <property name="hibernate.connection.password">admin13082016</property>
    <!--<property name="hibernate.connection.username">droti</property>
    <property name="hibernate.connection.password">admin13082016</property>-->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.use_sql_comments">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <mapping resource="Entity/TBitacora.hbm.xml"/>
    <mapping resource="Entity/TCuota.hbm.xml"/>
    <mapping resource="Entity/TMovimientoCuenta.hbm.xml"/>
    <mapping resource="Entity/TBanco.hbm.xml"/>
    <mapping resource="Entity/TPersona.hbm.xml"/>
    <mapping resource="Entity/TReajuste.hbm.xml"/>
    <mapping resource="Entity/TCuentaPagar.hbm.xml"/>
    <mapping resource="Entity/TReferencia.hbm.xml"/>
    <mapping resource="Entity/TGasto.hbm.xml"/>
    <mapping resource="Entity/TMovimientoBanco.hbm.xml"/>
    <mapping resource="Entity/TPrestamo.hbm.xml"/>
    <mapping resource="Entity/TCierre.hbm.xml"/>
    <mapping resource="Entity/TLogin.hbm.xml"/>
    <mapping resource="Entity/TPago.hbm.xml"/>
    <mapping resource="Entity/TCobrador.hbm.xml"/>
    <mapping resource="Entity/TDatosBasicosPersona.hbm.xml"/>
    <mapping resource="Entity/TMulta.hbm.xml"/>
    <mapping resource="Entity/TRemanente.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
